extends layout

block content
    p Welcome to our homepage! Go ahead and sign in down below or create a new account.
    a(href='/createLogin') Create Login
    br
    a(href='/login') Login
    br
    div(id='json_holder')
    
    div(style="overflow-x:auto;")
        table(class='gridtable')
            tr
                th Id
                    th Username
                    th Password
                    th Age
                    th Email
                    th WYR Q1
                    th WYR Q2
                    th WYR Q3
                    th Eye #
                    th Mouth #
                    th Nose #
                    th Color #
                    th
                    th
            each item in people
                tr
                    td #{item.id}
                    td #{item.username}
                    td #{item.password}
                    td #{item.age}
                    td #{item.email}
                    td #{item.wyrQuestion1}
                    td #{item.wyrQuestion2}
                    td #{item.wyrQuestion3}
                    td #{item.eyes}
                    td #{item.mouth}
                    td #{item.nose}
                    td #{item.color}
                    td
                        a(href='/edit/' + item.id) Edit
                    td
                        a(href='/delete/' + item.id) Delete
    p #{cookieMessage}
    script(src="apiScript.js")